## Q1
Stephen Lucas

In [1]:
num  = input('Enter a Number: ')
print('This is the number you entered: ' + num)

Enter a Number: 4
This is the number you entered: 4

In [16]:
# Q2
# Square
x = int(input("Enter a number: "))
a = x**2
print ('The area of the Square with a length of ', x, ' is ', a)

Enter a number: 5
The area of the Square with a length of  5  is  25

In [17]:
# Rectangle
b = int(input("Enter a number: "))
h = int(input("Enter a number: "))
a = b*h
print ('The area of the Rectangle with a hight of ', h, ' width of  ', b, ' is ', a)

Enter a number: 4
Enter a number: 6
The area of the Rectangle with a hight of  6  width of   4  is  24

In [18]:
# Triangle
b = int(input("Enter a number: "))
h = int(input("Enter a number: "))
a = b*h/2
print ('The area of the Triangle with a hight of ', h, ' width of  ', b, ' is ', a)

Enter a number: 4
Enter a number: 6
The area of the Triangle with a hight of  6  width of   4  is  12.0

In [19]:
# Ellipse
import math
r1 = int(input("Enter a number: "))
r2 = int(input("Enter a number: "))
a = math.pi*r1*r2
print ('The area of the Ellipse with a radios of ', r1, ' and  ', r2, ' is ', a)

Enter a number: 2
Enter a number: 4
The area of the Ellipse with a radios of  2  and   4  is  25.132741228718345

In [21]:
# Trapezoid
b1 = int(input("Enter a number: "))
b2 = int(input("Enter a number: "))
h = int(input("Enter a number: "))
a = (b1+b2)*h/2
print ('The area of the Trapezoid with a hight of ', h, ' width of  ', b1, ' and ', b2, ' is ', a)

Enter a number: 1
Enter a number: 4
Enter a number: 5
The area of the Trapezoid with a hight of  5  width of   1  and  4  is  12.5

In [1]:
# Q4
import math as m

In [2]:
# Q5
angle = 45

In [3]:
# Q6
rad_angle = m.radians(angle)
print(rad_angle)

0.7853981633974483

In [5]:
# Q7
m.sin(rad_angle)

0.7071067811865476

In [7]:
# Q8
m.cos(rad_angle)

0.7071067811865476

In [8]:
# Q9
m.sqrt(256)

16.0

In [9]:
# Q10
4**5

1024