In [30]:
import pandas as pd

In [39]:
#IF Else
a = 30
b = 100
c = 400
if a > b and c > a:
    print('Conditions are true')
else:
    print('Conditions are not true')

Conditions are not true

In [4]:
#IF Else
a = 30
b = 100
c = 400
if c > b and c > a:
    print('C is the largest number')
elif b > a and b > c:
    print('B is the largest number')
else:
    print('A is the largest number')

C is the largest number

In [11]:
#While statement
x = 1
while x <=10:
    print(x)
    #x = x+1
    x+=1

1
2
3
4
5
6
7
8
9
10

In [13]:
description = ['red','big','apple']
fruits = ['apple','banana','cherry']

#simple for loop
#for x in description:
 #   print(x)
    
#nested for loop
for x in description:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
apple apple
apple banana
apple cherry

In [14]:
#Break Statement
n = [9,4,2,6,7,10,3,8]

for val in n:
    if val ==6:
        break
    print(val%2==0, val)

False 9
True 4
True 2

In [15]:
#Continue Statement  
n = [9,4,2,6,7,10,3,8]

for val in n:
    if val ==6:
       continue  #skips the value of 6
    print(val%2==0, val)

False 9
True 4
True 2
False 7
True 10
False 3
True 8

In [21]:
#Pass Statement ****Find new for pass 
n = [9,4,2,6,7,10,3,8]

for val in n:
    if val ==6:
       pass  
    print(val%2==0,val)
#print('Not divisible by 2')

False
True
True
True
False
True
False
True

In [24]:
#Nested If-Else
temperature = 60 
raining = True

if temperature > 60:
    if raining == True:
        print("It's humid and rainy. Stay inside.")
    else:
        print("It's nice. Go and take a walk outside.")
else:
    if raining == False:
        print("It's cool.")
    else:
        print("Take an umbrella.")

Take an umbrella.

In [28]:
a = 1
b = 30

def add_num(a,b):
    print(a+b)
    
add_num(4,5)

9

In [29]:
def product_num(x,y):
    print(x*y)

product_num(12,9)

108

In [32]:
data = {
    'Name': ['Mike','John','Sally','Steve','Jane'],
    'Age':[25,35,40,30,21],
}

df = pd.DataFrame(data)
df

    Name  Age
0   Mike   25
1   John   35
2  Sally   40
3  Steve   30
4   Jane   21

In [38]:
#pass value into the function, create new column with the results
def age_comparison(row):
    age_threshold = 30
    if row['Age'] < age_threshold:
        return f"Younger than {age_threshold}"
    else:
        return f"{row['Age']} years old or older"
    

df['Age Comparison'] = df.apply(age_comparison, axis = 1)
df

    Name  Age         Age Comparison
0   Mike   25        Younger than 30
1   John   35  35 years old or older
2  Sally   40  40 years old or older
3  Steve   30  30 years old or older
4   Jane   21        Younger than 30